# b/260366177
dontaudit hal_neuralnetworks_armnn system_data_file:dir { search };
# b/264489188
userdebug_or_eng(`
  permissive hal_neuralnetworks_armnn;
')